@import "@styles/theme.scss";
.tabOrder{
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  &__box{
    height: 100%;
    display: flex;
    padding-bottom: 95px;
    &-leftSv{
      width: 23%;
      height: 100%;
    }
    &-rightSv{
      width: 77%;
      height: 100%;
    }
  }
}
.tabGoods{
  width: 100%;
  display: flex;
  padding-top: 25px;
  padding-left: 20px;
  flex-direction: column;
  &__title{
    display: flex;
    font-size: 15px;
    align-items: center;
    &-icon{
      width: 5px;
      height: 25px;
      margin-right: 10px;
      background-color: darkkhaki;
    }
    &-txt{
      line-height: 30px;
      height: 25px;
    }
  }
}
.shop-cart{
  width: 100%;
  height: 95px;
  position: fixed;
  bottom: 0;
  padding: 0 20px;
  background-color: #333333;
  @include flex-row-center();
  &-icon{
    align-self: flex-start;
    width: 100px;
    height: 100px;
    margin-top: -25px;
    border-radius: 100px;
    background-color: #989898;
  }
  &-tips{
    flex: 1;
    margin: 0 20px;
    width: 200px;
    height: 25px;
    background-color: #989898;
  }
  &-price{
    width: 80px;
    height: 30px;
    background-color: #989898;
  }
}
