.tabOrder{
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  &__box{
    height: 100%;
    display: flex;
    padding-bottom: 95px;
    &-leftSv{
      width: 23%;
      height: 100%;
    }
    &-rightSv{
      width: 77%;
      height: 100%;
    }
  }
}
.tabGoods{
  width: 100%;
  display: flex;
  padding-top: 25px;
  padding-left: 20px;
  flex-direction: column;
  &__title{
    display: flex;
    font-size: 15px;
    align-items: center;
    &-icon{
      width: 5px;
      height: 25px;
      margin-right: 10px;
      background-color: darkkhaki;
    }
    &-txt{
      line-height: 30px;
      height: 25px;
    }
  }
}
