.category{
  background-color: #f4f4f4;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 14px;
  text-align: center;
  height: 115px;
  line-height: 115px;
}
.active{
  background-color: #fff;
}
.category__txt{

}
